   <!-- CONTACT ME -->

   <section id="kontakt">
       <div class="container-fluid container-fluid-contact">
           <h2 class="h2-contact">Skontaktuj się z nami</h2>
           <p class="contact-message">Na wszystkie zapytania odpowiadamy tego samego dnia</p>
           <a class="btn-contact btn-email" href="mailto:eduvisor85@gmail.com">NAPISZ DO NAS</a>
           <a class="btn-contact btn-form" style="color: white" href="/formularz">WYPEŁNIJ FORMULARZ</a>

       </div>
   </section>