 <!-- Features -->

 <section id="co-nas-wyroznia">
     <div class="container-fluid container-fluid-features">
         <h2 class="h2-features">Co nas wyróżnia?</h2>

         <div class="row">
             <div class="feature-box col-lg-3 col-md-6 col-sm-6 col-12">
                 <img src="./images/doswiadczenie-mini.png" alt="">
                 <h3 class="h3-feature">Doświadczenie</h3>
                 <p class="p-feature">Pomogliśmy już tysiącom studentów przy pisaniu ich prac zaliczeniowych,
                     licencjackich czy magisterskich. Swoje usługi świadczymy m.in. dla studentów takich uczelni,
                     jak SGH, UW, SWPS i ALK. </p>
             </div>

             <div class="feature-box col-lg-3 col-md-6 col-sm-6 col-12">
                 <img src="./images/jakosc2-mini.png" alt="">
                 <h3 class="h3-feature">Jakość</h3>
                 <p class="p-feature">Posiadana wiedza i doświadczenie zapewniają najwyższą jakość wyników naszej
                     pracy. Wiemy, co jest szczególnie istotne oraz na co należy kłaść największy nacisk. Dzięki
                     naszej pomocy, prace są wysoko ocenianie przez wykładowców, promotorów oraz recenzentów.</p>
             </div>

             <div class="feature-box col-lg-3 col-md-6 col-sm-6 col-12">
                 <img src="./images/indywidualne-podejscie-mini.png" alt="">
                 <h3 class="h3-feature">Indywidualne podejście</h3>
                 <p class="p-feature">Każde zlecenie rozpoczynamy od określenia indywidualnych potrzeb i oczekiwań
                     Klienta. Na tej podstawie przedstawiamy spersonalizowaną ofertę.</p>
             </div>

             <div class="feature-box col-lg-3 col-md-6 col-sm-6 col-12">
                 <img src="./images/elastycznosc-mini.png" alt="">
                 <h3 class="h3-feature">Elastyczność</h3>
                 <p class="p-feature">Na życzenie naszych Klientów skupiamy się na wybranym etapie pracy bądź
                     wybranych elementach pracy
                     zaliczeniowej, licencjackiej lub magisterskiej. To Klient decyduje w czym dokładnie potrzebuje
                     pomocy.</p>
             </div>

         </div>

         <div class="row">

             <div class="feature-box col-lg-3 col-md-6 col-sm-6 col-12">

                 <img src="./images/kompleksowa-pomoc-mini.png" alt="">

                 <h3 class="h3-feature">Kompleksowa pomoc przez cały okres pisania pracy</h3>
                 <p class="p-feature">Naszą pomoc oferujemy przez cały okres pisania pracy. Od
                     wyboru tematu, stworzenia planu i bibliografii poprzez zredagowanie całości, aż po dostosowanie
                     pracy pod względem technicznym do wymogów uczelni i naniesienia ostatnich poprawek.
                 </p>
             </div>

             <div class="feature-box col-lg-3 col-md-6 col-sm-6 col-12">
                 <img src="./images/dostepnosc-mini.png" alt="">
                 <h3 class="h3-feature">Dostępność 24h/7</h3>
                 <p class="p-feature">Działamy 24h przez 7 dni w tygodniu. W każdej
                     chwili możesz dowiedzieć się na jakim etapie realizacji jest usługa, którą wybrałeś.</p>
             </div>

             <div class="feature-box col-lg-3 col-md-6 col-sm-6 col-12">
                 <img class="img-feature" src="./images/terminowosc-mini.png" alt="">
                 <h3 class="h3-feature">Terminowość
                 </h3>
                 <p class="p-feature">Gwarantujemy Ci wykonanie zlecenia na czas - zgodnie z wcześniej
                     przesłanym i uzgodnionym z Tobą harmonogramem pracy.
                 </p>
             </div>

             <div class="feature-box col-lg-3 col-md-6 col-sm-6 col-12">
                 <img src="./images/ekspresowy-czas-mini.png" alt="">
                 <h3 class="h3-feature">Możliwość uzgodnienia ekspresowego wykonania usługi
                 </h3>
                 <p class="p-feature">W zależności od Twoich oczekiwań czas
                     wykonywania powierzonego nam zlecenia może być standardowy, szybki, jak również
                     ekspresowy.
             </div>

         </div>

         <div class="row">

             <div class="feature-box col-lg-3 col-md-6 col-sm-6 col-12">
                 <img src="./images/wspolpraca-mini.png" alt="">
                 <h3 class="h3-feature">Przejrzysty i profesjonalny model współpracy</h3>
                 <p class="p-feature">Wieloletnie doświadczenie i otwartość na potrzeby naszych Klientów pozwoliły
                     nam na wypracowanie przejrzystego i atrakcyjnego dla obu stron systemu współpracy.</p>
             </div>

             <div class="feature-box col-lg-3 col-md-6 col-sm-6 col-12">
                 <img src="./images/faktura-mini.png" alt="">
                 <h3 class="h3-feature">Bezpieczna płatność i wystawianie faktury VAT</h3>
                 <p class="p-feature">Na każdą usługę wystawiamy fakturę VAT, zaś płatność odbywa się na konto
                     firmowe EduVisor poprzez przelew bankowy.
                 </p>
             </div>

             <div class="feature-box col-lg-3 col-md-6 col-sm-6 col-12">
                 <img src="./images/platnosc-w-ratach-mini.png" alt="">
                 <h3 class="h3-feature">Możliwość rozliczania w ratach</h3>
                 <p class="p-feature">Oferujemy możliwość rozliczania w ratach za każdą przesłaną część. Dzięki temu
                     będziesz mógł na bieżąco nadzorować wykonywane zlecenie.</p>
             </div>

             <div class="feature-box col-lg-3 col-md-6 col-sm-6 col-12">
                 <img src="./images/poufnosc-mini.png" alt="">
                 <h3 class="h3-feature">Poufność i ochrona danych osobowych</h3>
                 <p class="p-feature">Zdajemy sobie sprawę z potrzeby poczucia bezpieczeństwa wśród Klientów, dlatego
                     zapewniamy poufność informacji i ochronę danych osobowych.
                 </p>
             </div>
         </div>
     </div>

 </section>