    <!-- HOW-IT-WORKs -->

    <section id="jak-to-dziala">
        <div class="container-fluid container-fluid-how-it-works">
            <h2 class="h2-features">Jak to działa?</h2>

            <div class="row">

                <div class="how-it-works-box col-lg-3 col-md-12">

                    <i class="icon fas fa-edit"></i>

                    <h3 class="h3-feature">Wypełnij formularz</h3>
                    <p class="p-feature">Podaj jak najwięcej szczegółów dotyczących tego w jakim zakresie możemy Ci
                        pomóc, dołączając materiały niezbędne do wykonania zlecenia
                    </p>
                </div>

                <span class="workstep-spacer col-lg-1"></span>
                <div class="how-it-works-box col-lg-3 col-md-12">
                    <i class="icon fas fa-comments"></i>
                    <!-- <img src="./images/dostepnosc-mini.png" alt=""> -->
                    <h3 class="h3-feature">Otrzymaj ofertę</h3>
                    <p class="p-feature">Na podstawie formularza wycenimy zlecenie oraz podamy termin jego
                        realizacji.
                        W przypadku niejasności, odpowiemy na pytania, aby doprecyzować i dokładnie ustalić plan
                        działania
                    </p>
                </div>

                <span class="workstep-spacer col-lg-1"></span>

                <div class="how-it-works-box col-lg-3 col-md-12">
                    <i class="icon fas fa-couch"></i>
                    <h3 class="h3-feature">Poczekaj na wyniki naszej pracy
                    </h3>
                    <p class="p-feature"> Jeżeli zaakceptujesz warunki cenowe i czasowe przechodzimy do działania, a
                        Ty czekasz na wyniki
                        naszej pracy
                    </p>
                </div>
            </div>
        </div>

    </section>