    <!-- SKILLS -->

    <section id="oferta">

        <div class="container-fluid container-fluid-skills">

            <h2 class="h2-skills">Nasza oferta</h2>

            <!-- DESKTOP -->
            <div class="row row-skills desktop">
                <div class="row">
                    <div class="skill-column col-lg-3">
                        <img src="./images/pr-lic-mag2.png" alt="">
                    </div>
                    <div class="skill-column skill-row col-lg-9">
                        <h3>Pomoc w pisaniu prac licencjackich, magisterskich i podyplomowych</h3>
                        <p>Pisanie pracy licencjackiej, magisterskiej lub podyplomowej czy to z zakresu nauk
                            humanistycznych
                            czy ścisłych nie jest prostym zadaniem. Ograniczony kontakt z promotorem,
                            nieuporządkowane
                            źródła, mętlik w głowie od czego zacząć, jak przeprowadzić badanie i co zawrzeć w
                            rozdziale
                            empirycznym to wszystko, co sprawia, że coraz więcej studentów korzysta z naszych usług.
                            <br>
                            Pomagając przygotować pracę korzystamy z wiarygodnych źródeł, dbając o jej wysoki poziom
                            merytoryczny i dokładając wszelkich starań przy tworzeniu części badawczej, gdyż to na
                            tę
                            część (prócz wstępu i zakończenia) promotor i recenzent zwracają szczególną uwagę.
                            <br>
                            <span>W ramach pomocy oferujemy m.in. dobór tematu pracy, stworzenie planu pracy wraz z dostosowaną do
                        planu bibliografią, zredagowanie całościowego wzoru pracy i dopasowanie pracy pod względem
                        technicznym do wymogów uczelni (stworzenie wszelkich spisów, odpowiednia edycja etc.).</span>
                        </p>
                    </div>
                </div>

                <div class="row">

                    <div class="skill-column skill-row col-lg-9">
                        <h3>Pomoc w pisaniu prac zaliczeniowych, semestralnych, wypracowań, esejów i prezentacji
                        </h3>
                        <p class="p-2">Napisanie tego typu pracy często stanowi wyzwanie i jest czasochłonne, bez
                            względu na
                            to czy jest to praca o charakterze teoretycznym czy empirycznym (badawczym). W
                            zależności od
                            tematyki trzeba wypełnić szereg wymagań stawianych tego typu tekstom, zebrać odpowiednią
                            literaturę, badania czy przeprowadzić odpowiednie analizy. <span> Dlatego też, pomagając
                            przygotować
                            prace tego rodzaju przede wszystkim skupiamy się na pomocy w sformułowaniu odpowiedniego
                            tematu,
                            przygotowaniu planu pracy, odpowiednich badań czy analizie ich wyników.</span></p>
                    </div>
                    <div class="skill-column skill-row col-lg-3">
                        <img src="./images/pr-zaliczeniowe.png" alt="">
                    </div>

                </div>

                <div class="row">
                    <div class="skill-column col-lg-3">
                        <img src="./images/nadzor-transparent.png" alt="">
                    </div>
                    <div class="skill-column skill-row col-lg-9">
                        <h3>Całościowy nadzór nad pracą licencjacką, magisterską czy podyplomową</h3>
                        <p>Wychodząc naprzeciw oczekiwaniom studentów, którzy mają problem z samomotywacją,
                            ograniczony
                            kontakt z promotorem, wolą realizować się zawodowo czy też brakuje im czasu na pisanie
                            albo
                            po
                            prostu nie wiedzą jak się
                            za to wszystko zabrać, wprowadziliśmy usługę całościowego nadzoru nad pracą. <span>Usługa ta polega na
                        nakierowywaniu Cię w każdej jednej części i na każdym etapie pisania, odpowiadaniu na
                        wszelkie pytania, sprawdzaniu napisanych przez Ciebie wszystkich części pod względem
                        stylistycznym, merytorycznym czy językowym (pisanie wszelkich uwag w komentarzach).</span>
                            Domeną tej
                            usługi jest motto, że nie ma głupich pytań - są tylko głupie odpowiedzi.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="skill-column skill-row col-lg-9">
                        <h3>Kompleksowa pomoc na każdym etapie pracy</h3>
                        <p>Naszą pomoc oferujemy przez cały okres pisania pracy. Od
                            wyboru tematu, stworzenia planu i bibliografii poprzez zredagowanie całości, aż po
                            dostosowanie
                            pracy pod względem technicznym do wymogów uczelni czy naniesienia poprawek wskazanych
                            przez
                            promotora.
                            <br>
                            Na Twoją prośbę skupimy się na wybranym etapie pracy bądź
                            wybranych elementach pracy
                            zaliczeniowej, licencjackiej lub magisterskiej. Oferujemy pomoc m.in. w rozbudowaniu czy
                            poprawie poszczególnych fragmentów pracy, zarówno w części teoretycznej, jak też w
                            części
                            badawczej. Jeśli zaistnieje taka potrzeba pomożemy zaprojektować schemat badawczy,
                            dobrać
                            odpowiednie narzędzia, przeprowadzić badanie, wykonać analizę i opisać uzyskane
                            rezultaty.
                            <span>To Ty
                        decydujesz w czym dokładnie potrzebujesz
                        pomocy.</span>
                        </p>
                    </div>
                    <div class="skill-column col-lg-3">
                        <img src="./images/pomoc-na-kazdym-etapie.png" alt="">
                    </div>
                </div>

                <div class="row">

                    <div class="skill-column col-lg-3">
                        <img src="./images/plan-biblio.png" alt="">
                    </div>

                    <div class="skill-column skill-row col-lg-9">

                        <h3>Szczegółowe plany pracy wraz z bibliografią</h3>
                        <p>Chcąc napisać dobrą pracę licencjacką bądź magisterską, należy jeszcze przed rozpoczęciem
                            pisania
                            stworzyć jej właściwą koncepcję. Dokładnie rozpisany plan pracy uporządkuje cały proces
                            pisania,
                            jak również pozwoli uniknąć późniejszych nieporozumień z promotorem.
                            <br>
                            Plan, który pomożemy Ci wykonać, będzie zawierał dokładnie sformułowany temat oraz
                            strukturę,
                            składającą się z tytułów rozdziałów i podrozdziałów. <span>W każdym podrozdziale wymienimy co
                            należy w
                            nim dokładnie opisać oraz dodamy komentarze, abyś wiedział w którym kierunku powinieneś
                            zmierzać.</span> Z kolei,
                            w bibliografii zawrzemy od 25 do 30 pozycji (literatura polska i zagraniczna), na
                            podstawie
                            której stworzyliśmy plan i na której powinieneś się oprzeć pisząc swoją pracę.
                            <br>
                            <span>Jeśli jesteś zainteresowany taką formą pomocy prosimy o kontakt – prześlemy przykładowe
                        plany pracy,
                        abyś wiedział o jakim poziomie szczegółowości mówimy.</span>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="skill-column skill-row col-lg-9">
                        <h3>Tworzenie rozdziałów teoretycznych</h3>
                        <p> Napisanie rozdziału teoretycznego, selekcja faktów, definicji i teorii, które są
                            najistotniejsze
                            z punktu widzenia danego tematu, a jednocześnie napisanie ich w taki sposób, by nie być
                            posądzonym o plagiat, to wbrew pozorom bardzo trudne zadanie. Dzięki dostępowi do
                            obszernej
                            literatury z bardzo wielu dziedzin jesteśmy w stanie Ci pomóc praktycznie z każdym
                            rozdziałem.
                        </p>
                    </div>

                    <div class="skill-column col-lg-3">
                        <img src="./images/pr-lic-mag3.png" alt="">
                    </div>
                </div>

                <div class="row">
                    <div class="skill-column col-lg-3">
                        <img src="./images/rozd-badawczy3.png" alt="">
                    </div>

                    <div class="skill-column skill-row col-lg-9">
                        <h3>Tworzenie rozdziałów badawczych</h3>
                        <p>Rozdziały empiryczne w pracach naukowych są zwykle napisane najsłabiej i sprawiają
                            studentom
                            wielu kierunków najwięcej problemów. Dlatego też, wsparcie w przygotowaniu rozdziału
                            empirycznego to często najbardziej pożądana przez studentów forma pomocy.
                            <br>
                            Większość prac naukowych pisanych przez studentów opiera się o badania.
                            Rozdziały badawcze, w zależności od tematu pracy, są opisem wyników różnorodnych technik
                            badawczych. W naukach ekonomicznych przeważa studium przypadku (<em>case study</em>) ,
                            wycena
                            przedsiębiorstwa, analiza finansowa, statystyczna, strategiczna i techniczno-ekonomiczna
                            oraz
                            sondaż diagnostyczny (wywiad i ankieta). W naukach humanistycznych – analiza zawartości,
                            zaś
                            w
                            społecznych dominuje studium przypadku, sondaż diagnostyczny, obserwacja oraz analiza
                            statystyczna.
                            <br>
                            <span>Części analityczne prac opracowujemy na podstawie dostarczanych przez Ciebie materiałów i
                        danych bądź samodzielnie poszukujemy i przetwarzamy potrzebne dane, a następnie przeprowadzamy
                        niezbędne badania i tworzymy na tej podstawie rozdział.</span>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="skill-column skill-row col-lg-9">
                        <h3>Modele ekonometryczne</h3>
                        <p>Pomagamy w przygotowaniu modeli ekonometrycznych, które tworzymy na podstawie materiałów
                            i
                            danych
                            przez Ciebie dostarczonych lub samodzielnie poszukujemy i przetwarzamy potrzebne dane.
                            Zależnie
                            od ustaleń w ramach pomocy oferujemy m.in. stworzenie propozycji modelu, opisanie
                            podstaw
                            teoretycznych wybranego modelu opartych na współczesnej literaturze ekonomicznej,
                            opracowanie
                            hipotez badawczych, opis zbioru danych, oszacowanie modelu, diagnostykę, weryfikację
                            hipotez
                            oraz interpretację wyników.
                            <br>
                            <span>W ramach pomocy zapewniamy doradztwo i pomoc merytoryczną przy budowie koncepcji badania,
                        wszystkie pliki z programu w którym tworzony jest model oraz opis i analizę wyników badań.</span>

                        </p>
                    </div>

                    <div class="skill-column col-lg-3">
                        <img src="./images/modele-ekonometryczne.png" alt="">
                    </div>
                </div>

                <div class="row">

                    <div class="skill-column col-lg-3">
                        <img src="./images/korekta.png" alt="">
                    </div>

                    <div class="skill-column skill-row col-lg-9">
                        <h3>Korekta pracy pod względem językowym, stylistycznym i merytorycznym oraz pomoc edytorska
                        </h3>
                        <p>Oferujemy sprawdzenie i poprawienie pracy pod względem językowym, stylistycznym i
                            merytorycznym.
                            <span> W
                            przypadku każdego poprawianego tekstu dbamy o jego spójność, konsekwencję zapisu i
                            jednolitość
                            formatowania.</span>
                            <br>
                            Pomagamy również w zakresie formatowania tekstu w celu dopasowania pracy pod względem
                            technicznym do wymogów uczelni czy wykładowcy.
                        </p>
                    </div>
                </div>

                <div class="row">

                    <div class="skill-column skill-row col-lg-9">
                        <h3>Poprawa plagiatu (JSA)</h3>
                        <p> <span>Poprawiamy prace, które zostały uznane za plagiat na podstawie raportu Jednolitego
                            Systemu
                            Antyplagiatowego.</span> Znamy systemy plagiatowe stosowane na uczelniach i doskonale wiemy
                            jak działają.
                        </p>
                    </div>
                    <div class="skill-column col-lg-3">
                        <img src="./images/korekty_antyplagiatowe.png" alt="">
                    </div>
                </div>
            </div>

            <!-- MOBILE -->

            <div class="row row-skills mobile">

                <div class="row">
                    <img src="./images/pr-lic-mag2.png" alt="">
                    <div class="skill-column skill-row col-lg-9">
                        <h3>Pomoc w pisaniu prac licencjackich, magisterskich i dyplomowych</h3>
                        <p>Pisanie pracy licencjackiej, magisterskiej lub dyplomowej czy to z zakresu nauk
                            humanistycznych
                            czy ścisłych nie jest prostym zadaniem. Ograniczony kontakt z promotorem,
                            nieuporządkowane
                            źródła, mętlik w głowie od czego zacząć, jak przeprowadzić badanie i co zawrzeć w
                            rozdziale
                            empirycznym to wszystko, co sprawia, że coraz więcej studentów korzysta z naszych usług.
                            <br>
                            Pomagając przygotować pracę korzystamy z wiarygodnych źródeł, dbając o jej wysoki poziom
                            merytoryczny i dokładając wszelkich starań przy tworzeniu części badawczej, gdyż to na
                            tę
                            część (prócz wstępu i zakończenia) promotor i recenzent zwracają szczególną uwagę.
                            <br>
                            <span>W ramach pomocy oferujemy m.in. dobór tematu pracy, stworzenie planu pracy wraz z dostosowaną do
                        planu bibliografią, zredagowanie całościowego wzoru pracy i dopasowanie pracy pod względem
                        technicznym do wymogów uczelni (stworzenie wszelkich spisów, odpowiednia edycja etc.).</span>
                        </p>
                    </div>
                </div>

                <div class="row">

                    <img src="./images/pr-zaliczeniowe.png" alt="">
                    <div class="skill-column skill-row col-lg-9">
                        <h3>Pomoc w pisaniu prac zaliczeniowych, semestralnych, wypracowań, esejów i prezentacji
                        </h3>
                        <p class="p-2">Napisanie tego typu pracy często stanowi wyzwanie i jest czasochłonne, bez
                            względu na
                            to czy jest to praca o charakterze teoretycznym czy empirycznym (badawczym). W
                            zależności od
                            tematyki trzeba wypełnić szereg wymagań stawianych tego typu tekstom, zebrać odpowiednią
                            literaturę, badania czy przeprowadzić odpowiednie analizy. <span> Dlatego też, pomagając
                            przygotować
                            prace tego rodzaju przede wszystkim skupiamy się na pomocy w sformułowaniu odpowiedniego
                            tematu,
                            przygotowaniu planu pracy, odpowiednich badań czy analizie ich wyników.</span></p>
                    </div>

                </div>

                <div class="row">
                    <img src="./images/nadzor-transparent.png" alt="">
                    <div class="skill-column skill-row col-lg-9">
                        <h3>Całościowy nadzór nad pracą licencjacką, magisterską czy dyplomową</h3>
                        <p>Wychodząc naprzeciw oczekiwaniom studentów, którzy mają problem z samomotywacją,
                            ograniczony
                            kontakt z promotorem, wolą realizować się zawodowo czy też brakuje im czasu na pisanie
                            albo
                            po
                            prostu nie wiedzą jak się
                            za to wszystko zabrać, wprowadziliśmy usługę całościowego nadzoru nad pracą. <span>Usługa ta polega na
                        nakierowywaniu Cię w każdej jednej części i na każdym etapie pisania, odpowiadaniu na
                        wszelkie pytania, sprawdzaniu napisanych przez Ciebie wszystkich części pod względem
                        stylistycznym, merytorycznym czy językowym (pisanie wszelkich uwag w komentarzach).</span>
                            Domeną tej
                            usługi jest motto, że nie ma głupich pytań - są tylko głupie odpowiedzi.
                        </p>
                    </div>
                </div>


                <div class="row">

                    <img src="./images/pomoc-na-kazdym-etapie.png" alt="">
                    <div class="skill-column skill-row col-lg-9">
                        <h3>Kompleksowa pomoc na każdym etapie pracy</h3>
                        <p>Naszą pomoc oferujemy przez cały okres pisania pracy. Od
                            wyboru tematu, stworzenia planu i bibliografii poprzez zredagowanie całości, aż po
                            dostosowanie
                            pracy pod względem technicznym do wymogów uczelni czy naniesienia poprawek wskazanych
                            przez
                            promotora.
                            <br>
                            Na Twoją prośbę skupimy się na wybranym etapie pracy bądź
                            wybranych elementach pracy
                            zaliczeniowej, licencjackiej lub magisterskiej. Oferujemy pomoc m.in. w rozbudowaniu czy
                            poprawie poszczególnych fragmentów pracy, zarówno w części teoretycznej, jak też w
                            części
                            badawczej. Jeśli zaistnieje taka potrzeba pomożemy zaprojektować schemat badawczy,
                            dobrać
                            odpowiednie narzędzia, przeprowadzić badanie, wykonać analizę i opisać uzyskane
                            rezultaty.
                            <span>To Ty
                        decydujesz w czym dokładnie potrzebujesz
                        pomocy.</span>
                        </p>
                    </div>
                </div>

                <div class="row">

                    <img src="./images/plan-biblio.png" alt="">

                    <div class="skill-column skill-row col-lg-9">

                        <h3>Szczegółowe plany pracy wraz z bibliografią</h3>
                        <p>Chcąc napisać dobrą pracę licencjacką bądź magisterską, należy jeszcze przed rozpoczęciem
                            pisania
                            stworzyć jej właściwą koncepcję. Dokładnie rozpisany plan pracy uporządkuje cały proces
                            pisania,
                            jak również pozwoli uniknąć późniejszych nieporozumień z promotorem.
                            <br>
                            Plan, który pomożemy Ci wykonać, będzie zawierał dokładnie sformułowany temat oraz
                            strukturę,
                            składającą się z tytułów rozdziałów i podrozdziałów. <span>W każdym podrozdziale wymienimy co
                            należy w
                            nim dokładnie opisać oraz dodamy komentarze, abyś wiedział w którym kierunku powinieneś
                            zmierzać.</span> Z kolei,
                            w bibliografii zawrzemy od 25 do 30 pozycji (literatura polska i zagraniczna), na
                            podstawie
                            której stworzyliśmy plan i na której powinieneś się oprzeć pisząc swoją pracę.
                            <br>
                            <span>Jeśli jesteś zainteresowany taką formą pomocy prosimy o kontakt – prześlemy przykładowe
                        plany pracy,
                        abyś wiedział o jakim poziomie szczegółowości mówimy.</span>
                        </p>
                    </div>
                </div>

                <div class="row">

                    <img src="./images/pr-lic-mag3.png" alt="">
                    <div class="skill-column skill-row col-lg-9">
                        <h3>Tworzenie rozdziałów teoretycznych</h3>
                        <p> Napisanie rozdziału teoretycznego, selekcja faktów, definicji i teorii, które są
                            najistotniejsze
                            z punktu widzenia danego tematu, a jednocześnie napisanie ich w taki sposób, by nie być
                            posądzonym o plagiat, to wbrew pozorom bardzo trudne zadanie. Dzięki dostępowi do
                            obszernej
                            literatury z bardzo wielu dziedzin jesteśmy w stanie Ci pomóc praktycznie z każdym
                            rozdziałem.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <img src="./images/rozd-badawczy3.png" alt="">

                    <div class="skill-column skill-row col-lg-9">
                        <h3>Tworzenie rozdziałów badawczych</h3>
                        <p>Rozdziały empiryczne w pracach naukowych są zwykle napisane najsłabiej i sprawiają
                            studentom
                            wielu kierunków najwięcej problemów. Dlatego też, wsparcie w przygotowaniu rozdziału
                            empirycznego to często najbardziej pożądana przez studentów forma pomocy.
                            <br>
                            Większość prac naukowych pisanych przez studentów opiera się o badania.
                            Rozdziały badawcze, w zależności od tematu pracy, są opisem wyników różnorodnych technik
                            badawczych. W naukach ekonomicznych przeważa studium przypadku (<em>case study</em>) ,
                            wycena
                            przedsiębiorstwa, analiza finansowa, statystyczna, strategiczna i techniczno-ekonomiczna
                            oraz
                            sondaż diagnostyczny (wywiad i ankieta). W naukach humanistycznych – analiza zawartości,
                            zaś
                            w
                            społecznych dominuje studium przypadku, sondaż diagnostyczny, obserwacja oraz analiza
                            statystyczna.
                            <br>
                            <span>Części analityczne prac opracowujemy na podstawie dostarczanych przez Ciebie materiałów i
                        danych bądź samodzielnie poszukujemy i przetwarzamy potrzebne dane, a następnie przeprowadzamy
                        niezbędne badania i tworzymy na tej podstawie rozdział.</span>
                        </p>
                    </div>
                </div>

                <div class="row">

                    <img src="./images/modele-ekonometryczne.png" alt="">
                    <div class="skill-column skill-row col-lg-9">
                        <h3>Modele ekonometryczne</h3>
                        <p>Pomagamy w przygotowaniu modeli ekonometrycznych, które tworzymy na podstawie materiałów
                            i
                            danych
                            przez Ciebie dostarczonych lub samodzielnie poszukujemy i przetwarzamy potrzebne dane.
                            Zależnie
                            od ustaleń w ramach pomocy oferujemy m.in. stworzenie propozycji modelu, opisanie
                            podstaw
                            teoretycznych wybranego modelu opartych na współczesnej literaturze ekonomicznej,
                            opracowanie
                            hipotez badawczych, opis zbioru danych, oszacowanie modelu, diagnostykę, weryfikację
                            hipotez
                            oraz interpretację wyników.
                            <br>
                            <span>W ramach pomocy zapewniamy doradztwo i pomoc merytoryczną przy budowie koncepcji badania,
                        wszystkie pliki z programu w którym tworzony jest model oraz opis i analizę wyników badań.</span>

                        </p>
                    </div>
                </div>

                <div class="row">

                    <img src="./images/korekta.png" alt="">

                    <div class="skill-column skill-row col-lg-9">
                        <h3>Korekta pracy pod względem językowym, stylistycznym i merytorycznym oraz pomoc edytorska
                        </h3>
                        <p>Oferujemy sprawdzenie i poprawienie pracy pod względem językowym, stylistycznym i
                            merytorycznym.
                            <span> W
                            przypadku każdego poprawianego tekstu dbamy o jego spójność, konsekwencję zapisu i
                            jednolitość
                            formatowania.</span>
                            <br>
                            Pomagamy również w zakresie formatowania tekstu w celu dopasowania pracy pod względem
                            technicznym do wymogów uczelni czy wykładowcy.
                        </p>
                    </div>
                </div>

                <div class="row">

                    <img src="./images/korekty_antyplagiatowe.png" alt="">
                    <div class="skill-column skill-row col-lg-9">
                        <h3>Poprawa plagiatu (JSA)</h3>
                        <p> <span>Poprawiamy prace, które zostały uznane za plagiat na podstawie raportu Jednolitego
                            Systemu
                            Antyplagiatowego.</span> Znamy systemy plagiatowe stosowane na uczelniach i doskonale wiemy
                            jak działają.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </section>