<section id="title">
    <div class="container-fluid container-fluid-title">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"
          ><img class="logo" src="./images/logo-nav-solo.png" alt="logo" />
          <p class="logo-title">EduVisor</p></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="color: #3aa0e1;" href="/#co-nas-wyroznia">Co nas wyróżnia?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #3aa0e1;" href="/#oferta">Oferta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #3aa0e1;" href="/#jak-to-dziala">Jak to działa?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #3aa0e1" href="/o-nas">O nas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #3aa0e1;" href="/#opinie">Opinie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #3aa0e1" href="/faq">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #3aa0e1;" href="/#kontakt"
                >Kontakt</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>