<%- include('./partials/header.ejs'); -%>

<%- include('./partials/title-navbar.ejs'); -%>

<!-- FAQ-->
<section id="faq">

    <h1>FAQ</h1>

    <h3>1. Skąd mogę mieć pewność, że mam do czynienia z uczciwą firmą?</h3>
    <p>Prowadzimy zarejestrowaną działalność gospodarczą jako EduVisor Sp. z o.o. Posiadamy fizycznie istniejącą
        siedzibę, numer KRS, NIP oraz REGON. W kontakcie z nami masz do dyspozycji formularz kontaktowy, numer
        telefonu,
        profil na Facebooku oraz adres e-mail. Oferujemy także możliwość podpisania umowy. Na każdą usługę
        wystawiamy
        fakturę VAT, zaś płatność odbywa się na konto firmowe EduVisor poprzez przelew bankowy.</p>

    <h3>2. Z jakich kierunków i dziedzin jesteście w stanie mi pomóc?</h3>
    <p>Nasza wiedza i doświadczenie obejmuje zdecydowaną większość kierunków - od zarządzania, ekonomii i prawa poprzez
        medycynę, kończąc na psychologii czy leśnictwie.
        Pomagamy we wszystkich dziedzinach oprócz dziedzin, które wymagają specjalistycznej wiedzy technicznej. Nie
        podejmujemy się także zleceń z dziedzin z których nie możemy zagwarantować najwyższej jakości usługi.
    </p>

    <h3>3. W jaki sposób najłatwiej złożyć zamówienie?</h3>
    <p>Nie ma najlepszego sposobu – to już zależy do Ciebie. Możesz wypełnić formularz zlecenia, napisać do nas na
        Facebooku lub wysłać maila.</p>

    <h3>4. Mam problem z wysłaniem formularza zlecenia. Co mogę zrobić?</h3>
    <p>Bardzo prosimy o bezpośredni kontakt na maila eduvisor85@gmail.com lub na Facebooku.
        Wspólnie na pewno dojdziemy do przyczyny problemu przy wypełnianiu formularza.
    </p>

    <h3>5. Co mam do Was wysłać? Co powinien umieścić w opisie?</h3>
    <p>Podaj jak najwięcej szczegółów dotyczących tego w jakim zakresie możemy Ci pomóc, dołączając materiały niezbędne
        do wykonania zlecenia. Zależnie od zakresu pomocy, prosimy m.in. o podanie tematu pracy, treści zadania,
        struktury opracowania i liczby stron, jak również o przesłanie np. planu pracy, bazy danych, pracy, która ma
        zostać poprawiona czy raportu JSA.</p>

    <h3>6. Czy przeprowadzacie badania i/lub analizy na potrzeby pracy?</h3>
    <p>Tak - w tym się specjalizujemy. Większość prac naukowych pisanych przez studentów opiera się o badania. Rozdziały
        badawcze, w zależności od tematu pracy, są opisem wyników różnorodnych technik badawczych. W naukach
        ekonomicznych przeważa studium przypadku, wycena przedsiębiorstwa, analiza finansowa, statystyczna, strategiczna
        i techniczno-ekonomiczna oraz sondaż diagnostyczny (wywiad i ankieta). W naukach humanistycznych – analiza
        zawartości, zaś w społecznych dominuje studium przypadku, sondaż diagnostyczny, obserwacja oraz analiza
        statystyczna.
        Części analityczne prac opracowujemy na podstawie dostarczanych przez Ciebie materiałów i danych bądź
        samodzielnie poszukujemy i przetwarzamy potrzebne dane, a następnie przeprowadzamy niezbędne badania i tworzymy
        na tej podstawie rozdział.
    </p>

    <h3>7. Jak długo będę czekał na realizację swojego zamówienia?</h3>
    <p>To Ty decydujesz w jakim terminie chcesz otrzymać swoje zlecenie. W zależności od Twoich oczekiwań czas
        wykonywania powierzonego nam zlecenia może być standardowy (ponad tydzień), szybki (4-7 dni), jak również
        ekspresowy (1-3 dni).</p>

    <h3>8. W jaki sposób i w jakim formacie przesyłane jest mi zlecenie?</h3>
    <p>Gotowy projekt wysyłany jest w formie elektronicznej, a jego format według Twojego życzenia.</p>

    <h3>9. W jaki sposób mogę zapłacić za projekt?</h3>
    <p>Płatność odbywa się na konto firmowe EduVisor poprzez przelew bankowy. Na każdą usługę wystawiamy fakturę VAT.
    </p>

    <h3>10. Czy mogę negocjować cenę albo w jakiś inny sposób ją obniżyć?</h3>
    <p>Jasne! Możesz to zrobić, jeśli weźmiesz udział w tworzeniu projektu, odejmując nam trochę pracy. Oznacza to, że w
        takim przypadku przy projekcie pracujemy wspólnie - dzieląc się pracą. Oczywiście informujemy Cię jak coś
        powinieś wykonać oraz oferujemy wsparcie merytoryczne. Prócz tego dzielimy pracę tak, aby Tobie przypadły te
        najprostsze części do wykonania.</p>

    <h3>11. Skąd mogę mieć pewność, że po zapłacie otrzymam projekt?</h3>
    <p>Jesteśmy legalnie działającą firmą, która cieszy się dobrą opinią od wielu lat. Wszelkie nasze usługi realizujemy
        zgodnie z regulaminem oraz z ustaleniami dokonanymi z klientem. By oszczędzić Ci nerwów oferujemy możliwość
        rozliczania w ratach za każdą przesłaną część. Dzięki temu będziesz mógł na bieżąco nadzorować wykonywane
        zlecenie.</p>

    <h3>12. Czy poprawki są w cenie?</h3>
    <p>Przysługują Ci bezpłatne poprawki co do stworzonych przez nas części w zakresie błędów merytorycznych,
        stylistycznych czy błędów w formatowaniu tekstu, a także w sytuacji przygotowania projektu z pominięciem
        wytycznych oraz dwustronnych ustaleń.</p>

    <h3>13. Jakie poprawki są zawsze płatne?</h3>
    <p>Poprawki, które wykonujemy płatnie to: rozszerzenia i uzupełnienia treści, zmiany wynikające z modyfikacji
        istniejącego i wcześniej zatwierdzonego planu, poprawa redaktorska tekstu mająca na celu dostosowanie jej do
        wytycznych technicznych (odnośnie przypisów, formatowania tabel itd.), jeśli ich wcześniej nie dostaliśmy lub
        gdy uległy one zmianie.</p>

    <h3>14. Ile wynosi zaliczka i kiedy muszę ją zapłacić?</h3>
    <p>Wysokość zaliczki jest zależna od kosztu zlecenia. Pobieramy ją zawsze przed realizacją zlecenia. Zaliczka nie
        jest dodatkowym kosztem, ale jest ona wliczona w cenę.</p>

    <h3>15. Czy istnieje możliwość dostania darmowej próbki projektu?</h3>
    <p>I tak i nie. Mianowicie przesyłamy przykładowe plany pracy, abyś wiedział o jakim poziomie szczegółowości mówimy
        przygotowując szczegółowe plany pracy wraz z bibliografią. Z kolei, nie przesyłamy próbek tekstów. Wynika to z
        faktu, iż zdajemy sobie sprawę z potrzeby poczucia bezpieczeństwa wśród Klientów, dlatego zapewniamy poufność
        informacji i ochronę ich danych osobowych, a w konsekwencji nie udostępniamy ich prac. Nie mamy też
        przykładowych tekstów pisanych “po nic”, bo po prostu nie mamy na to czasu.</p>

    <h3>16. W jakich godzinach można się z Wami kontaktować?</h3>
    <p>Staramy się być dla Was dostępni 24h na dobę. Jednakże sztywne godziny naszej pracy to 8.00 – 20.00.</p>

</section>

<%- include('./partials/footer.ejs'); -%>