<%- include('./partials/header.ejs'); -%>

<%- include('./partials/title-navbar.ejs'); -%>

<!-- STATUTE -->

<section id="statute">
    <h1>Regulamin</h1>

    <h2>1. Definicje</h2>
    <ol>
        <li>
            FORMULARZ KONTAKTOWY – formularz dostępny na Stronie www.eduvisor.pl
            umożliwiający Usługobiorcy bezpośredni kontakt z Usługodawcą.
        </li>
        <li>REGULAMIN - niniejszy regulamin Strony.</li>
        <li>
            POLITYKA PRYWATNOŚCI - dokument zawierający szczegółowe informacje na
            temat przetwarzania danych osobowych i zasad ochrony prywatności
            stosowanych wobec Usługobiorców.
        </li>
        <li>
            USŁUGODAWCA – EduVisor Sp. z o.o., adres siedziby: ul. Heroldów 10/18,
            01-991 Warszawa, adres do doręczeń: ul. Heroldów 10/18, 01-991
            Warszawa wpisaną do rejestru przedsiębiorców pod numerem KRS:
            0000754669, NIP: 1182183158, REGON: 381655243, posiadającą kapitał
            zakładowy w kwocie: 15 000 zł, adres poczty elektronicznej:
            eduvisor85@gmail.com.
        </li>
        <li>
            USŁUGOBIORCA – osoba fizyczna, osoba prawna albo jednostka
            organizacyjna nieposiadająca osobowości prawnej, której ustawa
            przyznaje zdolność prawną korzystająca z Usługi Elektronicznej.
        </li>
        <li>
            USŁUGA ELEKTRONICZNA – usługa świadczona drogą elektroniczną przez
            Usługodawcę na rzecz Usługobiorcy za pośrednictwem Strony.
        </li>
        <li>
            SERWIS – strona internetowa udostępniane w sieci Internet z adresu
            www.eduvisor.pl
        </li>
    </ol>

    <h2>2. Postanowienia ogólne</h2>
    <ol>
        <li>
            Strona www.eduvisor.pl działa na zasadach określonych w niniejszym
            Regulaminie.
        </li>
        <li>
            Regulamin określa rodzaje i zakres usług świadczonych drogą
            elektroniczną przez Stronę www.eduvisor.pl, zasady świadczenia tych
            usług, warunki zawierania i rozwiązywania umów o świadczenie usług
            drogą elektroniczną, a także tryb postępowania reklamacyjnego.
        </li>
        <li>
            Serwis świadczy usługi w dziedzinie prowadzenia badań podstawowych,
            redagowania i pisania tekstów, materiałów edukacyjnych i konsultacji
            edukacyjnych dla osób prywatnych oraz firm. Szczegóły oferty zawarte
            są na stronie internetowej www.eduvisor.pl oraz innych stronach
            należących do serwisu.
        </li>
        <li>
            W zakresie świadczenia usług w postaci dostępu do Serwisu Usługodawca
            spełnia świadczenie drogą elektroniczną w sposób ciągły zapewniając
            dostęp do Serwisu Usługobiorcy.
        </li>
        <li>
            Usługobiorca oświadcza niniejszym wobec Usługodawcy, że ukończył
            osiemnaście (18) lat (lub osiągnął inny wiek, który – w świetle prawa
            ojczystego Usługobiorcy uprawnia go do zawierania wiążących umów),
            posiada pełną zdolność do czynności prawnych i wyraża zgodę na warunki
            określone Regulaminem. Jeżeli Usługobiorca korzysta z Serwisu lub
            usług Usługodawcy w imieniu osoby trzeciej będącej osobą prawną, tzw.
            ułomną osobą prawną etc., Usługobiorca oświadcza niniejszym wobec
            Usługodawcy, że jest uprawniony do zaciągnięcia zobowiązań
            wynikających z zawarcia niniejszej umowy w imieniu takiej osoby, a
            zaakceptowanie niniejszego Regulaminu przez takiego Usługobiorcę jest
            równoznaczne z ich zaakceptowaniem przez tą osobę trzecią. W takim
            przypadku wyraz " Usługobiorca " w niniejszym Regulaminie oznacza w/w
            osobę trzecią. W braku rzeczywistego uprawnienia do zaciągnięcia
            zobowiązania w imieniu osoby trzeciej, osoba która rzekomo działa za
            tą osobę trzecią jest traktowana jako Usługobiorca, który we własnym
            imieniu i na swoją rzecz zawarł umowę z Usługodawcą. Usługobiorcy
            niezdolni do zawarcia wiążącego prawnie porozumienia z Usługodawcą lub
            tacy, którym zakazuje się korzystania z usług świadczonych poprzez
            Serwis lub zawierania umów za pośrednictwem Serwisu ze względu na
            obowiązujące w danym państwie lub regionie obostrzenia, włączywszy w
            to kraj/region aktualnego pobytu Usługobiorcy i miejsce korzystania z
            usług, nie powinni korzystać z Serwisu.
        </li>
        <li>
            Usługodawca zastrzega sobie prawo do zmieniania i modyfikowania
            niniejszego Regulaminu, w tym do dodawania nowych lub usuwania
            dotychczasowych zapisów, co może czynić według własnego uznania w
            dowolnym czasie przez opublikowanie zmian Regulaminu na stronie
            Serwisu. Dlatego Usługobiorca ma obowiązek regularnie sprawdzać, czy
            Regulamin nie uległ zmianie. O ile pozostałe zapisy nie stanowią
            inaczej, zmieniony Regulamin wejdzie w życie automatycznie czternaście
            (14) dni po opublikowaniu zmian w Serwisie. Publikując zmiany
            Usługodawca ma obowiązek wskazać, które zapisy zostały zmienione,
            dodane lub usunięte. Jeżeli Regulamin ulegnie zmianie w trakcie
            trwania umowy, stosuje się do niej postanowienia Regulaminu w
            brzmieniu dotychczasowym, sprzed zmiany.
        </li>
        <li>
            Usługodawca nie zezwala i nie godzi się na jakiekolwiek naruszanie
            przez Usługobiorcę przepisów prawa oraz praw osób trzecich, w
            szczególności praw autorskich, praw własności przemysłowej, czy dóbr
            osobistych.
        </li>
        <li>
            Wszelkie teksty, materiały graficzne, funkcje interaktywne, logo,
            fotografie, pliki, oprogramowanie oraz wszystkie inne materiały w
            ramach Serwisu, a także dobór, organizacja, koordynacja, kompilacja
            materiałów i ogólny wygląd i charakter Serwisu stanowią własność
            intelektualną Usługodawcy. Podlegają one ochronie przez prawa
            autorskie, prawa do wzorów, prawa patentowe, prawa do znaków
            towarowych i inne przepisy, w tym konwencje międzynarodowe i prawa
            własności. Wszystkie takie prawa są zastrzeżone dla Usługodawcy.
            Wszystkie znaki towarowe, marki usług i nazwy towarowe stanowią
            własność Usługodawcy. Bez wyraźnej zgody Usługodawcy Usługobiorca nie
            ma prawa sprzedawać, rozpowszechniać, kopiować, modyfikować,
            odtwarzać, pokazywać ani nadawać publicznie, publikować, edytować ani
            adaptować tych elementów, udzielać licencji na nie, tworzyć na ich
            podstawie dzieł pochodnych, ani wykorzystywać ich w inny sposób.
        </li>
        <li>
            W odniesieniu do Usługobiorców z Unii Europejskiej będących
            konsumentami Usługodawca w związku z umowami zawieranymi z takimi
            użytkownikami poprzez Serwis spełnia obowiązki informacyjne względem
            Usługobiorców zgodnie z odpowiednimi przepisami.
        </li>
        <li>
            Korzystając z usług lub wysyłając do Usługodawcy wiadomości email,
            Usługobiorcy kontaktują się z Usługodawcą drogą elektroniczną.
            Komunikacja z Usługobiorcą przebiega przez pocztę elektroniczną bądź
            portal społecznościowy Facebook. W celach umownych, Usługobiorcy
            wyrażają zgodę na otrzymywanie informacji drogą elektroniczną, a także
            wyrażają zgodę na to, iż wszelkie porozumienia, powiadomienia,
            ujawnienia oraz inne udostępniane mu przez Usługodawcę informacje
            drogą elektroniczną spełniają wymogi prawne informacji zawartych w
            formie pisemnej, chyba że obowiązujące przepisy prawa stanowią
            inaczej.
        </li>
        <li>
            Usługobiorca zobowiązany jest we własnym zakresie i na swój koszt
            posiadać dostęp do usług telekomunikacyjnych niezbędnych do
            korzystania z usług Usługodawcy.
        </li>
        <li>
            Każdy Usługobiorca z chwilą podjęcia czynności zmierzających do
            korzystania z Usług Elektronicznych Strony www.eduvisor.pl,
            zobowiązany jest do przestrzegania postanowień niniejszego Regulaminu.
        </li>
        <li>
            W sprawach nieuregulowanych w niniejszym Regulaminie mają zastosowanie
            przepisy:
            <ul>
                <li>
                    Ustawy o świadczeniu usług drogą elektroniczną z dnia 18 lipca
                    2002 r. (Dz.U. z 2020 r. poz. 344)
                </li>
                <li>
                    Ustawy o prawach konsumenta z dnia 30 maja 2014 r. (Dz.U. z 2020
                    r. poz. 287)
                </li>
                <li>
                    Ustawy Kodeks cywilny z dnia 23 kwietnia 1964 r. (Dz.U. z 2019 r.
                    poz. 1145)
                </li>
                <li>inne właściwe przepisy prawa polskiego.</li>
            </ul>
        </li>
    </ol>

    <h2>3. Warunki świadczenia i zawierania umów</h2>

    <ol>
        <li>
            W celu zawarcia umowy z Usługodawcą Usługobiorca kontaktuje się przez
            formularz dostępny w ramach Serwisu, na adres e-mail Usługodawcy
            wskazany w Serwisie, telefonicznie lub poprzez portal społecznościowy
            Facebook.
        </li>
        <li>
            Umowa jest zawierana w chwili zapłaty przez Usługobiorcę wynagrodzenia
            za usługę. Wynagrodzenie to pobierane jest z góry, chyba że
            Usługodawca wyrazi zgodę na zapłatę części wynagrodzenia w jego
            trakcie – w takim wypadku umowa zawierana jest w chwili zapłaty
            pierwszej części wynagrodzenia.
        </li>
        <li>
            Wynagrodzenie jest każdorazowo ustalane indywidualnie z Usługobiorcą.
        </li>
        <li>
            Realizacja usług świadczonych przez Usługodawcę odbywa się etapami
            ustalonymi indywidualnie z Usługobiorcą.
        </li>
        <li>
            Czas realizacji umowy ustalany jest każdorazowo indywidualnie z danym
            Usługobiorcą.
        </li>
        <li>
            Całość materiału wynikającego z zamówienia zostanie Usługobiorcy
            przesłana po uiszczeniu całości opłat.
        </li>
        <li>
            Odbiór prac przez Usługobiorcę następuje wyłącznie za pośrednictwem
            korespondencji elektronicznej bądź portalu społecznościowego Facebook.
        </li>
        <li>
            Usługobiorcy mogą dokonywać opłat na konto firmowe Usługodawcy o
            numerze 28 2530 0008 2090 1046 5374 0001 (NEST BANK).
        </li>
        <li>
            Usługobiorcy oświadczają, iż za wszelkie produkty i usługi sprzedawane
            poprzez Serwis będą dokonywali płatności przy użyciu środków
            pieniężnych pochodzących z legalnych źródeł.
        </li>
        <li>
            Usługodawca zastrzega sobie możliwość wystąpienia chwilowych przerw w
            dostępie do Serwisu, które mogą być spowodowane pracami
            modernizacyjnymi lub problemami technicznymi. W przypadku problemów
            technicznych Usługodawca zobowiązuje się do ich jak najszybszego
            usunięcia.
        </li>
        <li>
            Usługodawca informuje Usługobiorcę, iż rozpoczęcie i pełne wykonanie
            usługi skutkuje utratą prawa do odstąpienia od umowy.
        </li>
        <li>
            12. Wymagania techniczne niezbędne do współpracy z systemem
            teleinformatycznym, którym posługuje się Usługodawca:
            <ul>
                <li>komputer z dostępem do Internetu,</li>
                <li>dostęp do poczty elektronicznej,</li>
                <li>przeglądarka internetowa,</li>
                <li>
                    włączenie w przeglądarce internetowej Cookies oraz Javascript.
                </li>
            </ul>
        </li>
        <li>
            Usługobiorca zobowiązany jest do korzystania ze Strony w sposób zgodny
            z prawem i dobrymi obyczajami mając na uwadze poszanowanie dóbr
            osobistych i praw własności intelektualnej osób trzecich.
        </li>
        <li>
            Usługobiorca zobowiązany jest do wprowadzania danych zgodnych ze
            stanem faktycznym.
        </li>
        <li>
            Usługobiorcę obowiązuje zakaz dostarczania treści o charakterze
            bezprawnym.
        </li>
        <li>
            Faktury VAT za całe zlecenia lub za wykonane części zleceń są
            wystawiane przez Usługodawcę dla realizacji własnych celów
            organizacyjnych i sprawozdawczych. Usługodawca wystawia fakturę VAT na
            potrzeby Klienta każdorazowo na żądanie Klienta.
        </li>
    </ol>

    <h2>4. Wyłączenie odpowiedzialności</h2>
    <ol>
        <li>
            W zakresie dopuszczalnym przez prawo odpowiedzialność Administratora
            jest wyłączona za:
            <ul>
                <li>
                    jakiekolwiek szkody wynikające z korzystania z Serwisu, dostępu do
                    niego lub niemożności korzystania z Serwisu z przyczyn
                    niezależnych od Usługodawcy
                </li>
                <li>
                    jakiekolwiek szkody wynikające z wirusów, koni trojańskich itp.,
                    które mogą być przesyłane do Serwisu lub za jego pośrednictwem
                    przez osoby trzecie
                </li>
                <li>
                    wszelkie działania i ich skutki wynikające z naruszenia przez
                    Usługobiorcę postanowień niniejszego Regulaminu lub podania przez
                    Usługobiorcę nieprawdziwych danych albo złożenia przez niego
                    fałszywych lub nieprawdziwych oświadczeń i zapewnień, o których
                    mowa w niniejszym Regulaminie
                </li>
            </ul>
        </li>
        <li>
            Usługodawca wykonuje wszystkie usługi zgodnie z przepisami polskiego
            prawa. Wszystkie teksty i konsultacje będące wynikiem realizacji usług
            mają wyłącznie charakter dydaktyczny i informacyjny. Usługodawca nie
            ponosi odpowiedzialności oraz nie wyraża zgody na niewłaściwe
            wykorzystanie jakichkolwiek informacji w formie pisemnej, ustnej lub
            zapisanej na jakimkolwiek nośniku danych przekazanych Usługobiorcy, a
            w szczególności niezgodne z przepisami Ustawy o prawach autorskich
            oraz art. 233 i art. 272 Kodeksu Karnego.
        </li>
        <li>
            Usługodawca nie ponosi odpowiedzialności wobec Usługobiorcy za
            przydatność produktu wykonanej usługi do potrzeb Usługobiorcy, za
            zgodność z oczekiwaniami Usługobiorcy, czy za uzyskanie określonego
            stopnia aprobaty przez osoby, które będą ewentualnie oceniały efekt
            usługi Usługodawcy.
        </li>
        <li>
            Usługodawca nie ponosi jakiejkolwiek odpowiedzialności wobec osób
            trzecich związanej w szczególności z niewykonaniem lub nieprawidłowym
            wykonaniem przez Usługobiorcę niniejszej umowy, dokonaniem przez
            Usługobiorcę czynu niedozwolonego, naruszeniem przez Usługobiorcę
            przepisów prawa oraz związanej z podaniem przez Usługobiorcę
            nieprawdziwych informacji, zapewnień lub oświadczeń lub wykorzystaniem
            przez Usługobiorcę otrzymanego od Usługodawcy produktu w sposób
            niezgodny z prawem. W przypadku skierowania przez podmioty trzecie do
            Usługodawcy jakichkolwiek zarzutów, roszczeń, skarg, petycji, żądań,
            reklamacji itp. związanych z zachowaniami Usługobiorcy, o których mowa
            w zdaniu poprzednim, Usługobiorca zobowiązuje się do poniesienia
            pełnej odpowiedzialności wobec tych podmiotów, co oznacza w
            szczególności, iż Usługobiorca pokryje wszelkie związane z powyższym
            koszty poniesione przez Usługodawcę lub do których poniesienia będzie
            Usługodawca w jakiekolwiek formie zobowiązany, w tym zwłaszcza koszty
            pomocy prawnej, opłaty, szkody, grzywny, nawiązki, kary pieniężne,
            kary umowne, koszty wezwań, stawiennictwa w sądzie lub przed organem
            państwowym lub administracji publicznej, koszty korespondencji oraz
            wszelkie inne możliwe koszty, opłaty itp. Powyższy zapis nie ma
            zastosowania do konsumentów w zakresie, w jakim naruszałoby to ich
            prawa.
        </li>
        <li>
            W stosunku do Usługobiorców niebędących konsumentami odpowiedzialność
            Usługodawcy ograniczona jest do 1000 zł.
        </li>
    </ol>

    <h2>5. Licencja</h2>
    <ol>
        <li>
            Usługodawca udziela Usługobiorcy, dla którego wykonał zlecenie/pracę
            na czas nieokreślony i w ramach wynagrodzenia zapłaconego przez
            Usługobiorcę niewyłącznego, nieprzenoszalnego i nie podlegającego
            sublicencjonowaniu prawa do korzystania z wykonanego dzieła.
        </li>
        <li>
            Licencja powyższa jest udzielana w chwili zapłaty przez Usługobiorcę
            całego wynagrodzenia.
        </li>
        <li>
            Licencja jest udzielana na następujących polach eksploatacji:
            <ul>
                <li>
                    w zakresie utrwalania i zwielokrotniania utworu: utrwalanie i
                    zwielokrotnianie techniką drukarską, reprograficzną, zapisu
                    magnetycznego oraz techniką cyfrową lub jakąkolwiek inną techniką
                    oraz zwielokrotnianie utrwaleń w całości i we fragmentach wszelką
                    techniką w tym światłoczułą, magnetyczną, cyfrową, optyczną,
                    techniką zapisu komputerowego, na nośnikach wideofonicznych,
                    komputerowych, nośnikach audiowizualnych jak np. taśmie
                    światłoczułej, magnetycznej, celuloidowej, nośnikach cyfrowych -
                    DVD, CD, CD ROM, VCD, Mini Discach, płytach MP3, kliszy
                    fotograficznej, płycie analogowej, dysku optycznym, kościach
                    pamięci, nośnikach komputerowych i innych nośnikach zapisów i
                    pamięci,
                </li>
                <li>
                    w zakresie rozpowszechniania utworu w taki sposób jak: publiczne
                    wykonanie, wystawienie, wyświetlenie, odtworzenie oraz nadawanie i
                    reemitowanie, a także publiczne udostępnianie utworu w taki
                    sposób, aby każdy mógł mieć do niego dostęp w miejscu i w czasie
                    przez siebie wybranym, w tym również publikacja na stronach
                    internetowych lub innego rodzaju mediach elektronicznych,
                    wykorzystanie w materiałach promocyjnych lub wszelkiego rodzaju
                    materiałach, drukach, pismach itp.,
                </li>
                <li>
                    wprowadzanie do pamięci komputera i serwerów sieci komputerowych,
                    także ogólnie dostępnych w rodzaju Internet i sieci telefonii
                    komórkowej (GSM i UMTS, itp.) oraz udostępniania użytkownikom
                    takich sieci na całym świecie, eksploatacja w całości i we
                    fragmentach w sieci on - line, rozpowszechnianie w sieci
                    multimedialnej,
                </li>
                <li>wprowadzenie zmian do utworu.</li>
            </ul>
        </li>
        <li>
            Usługobiorca ma prawo do tworzenia wszelkich utworów zależnych
            (opracowań) na podstawie lub z wykorzystaniem dzieła (utworu/utworów)
            lub jego części. Usługodawca nie wprowadza żadnych ograniczeń w
            zakresie tworzenia przez Usługobiorcę utworów zależnych. Usługobiorca
            ponosi wyłączną i osobistą odpowiedzialność za utwór zależny, w tym za
            jego prawidłowość, legalność, rzetelność, przydatność do zamierzonego
            użytku.
        </li>
    </ol>

    <h2>6. Poufność</h2>
    <ol>
        <li>
            Usługodawca zobowiązany jest do zachowania w tajemnicy wszystkiego, o
            czym dowiedział się w związku z realizacją umowy na rzecz
            Usługobiorcy. W szczególności ma obowiązek zachowania w tajemnicy
            faktu zwarcia umowy z Usługobiorcą, jej przedmiotu, korespondencji,
            treści rozmów, dokumentacji, materiałów, lub innych informacji i
            dokumentów, które dotyczą bezpośrednio lub pośrednio wykonania umowy
            na rzecz Usługobiorcy („Informacje Poufne”).
        </li>
        <li>
            Usługodawcy przysługuje prawo do ujawnienia Informacji Poufnych w
            zakresie wymaganym przez przepisy prawa lub prawomocne decyzje organów
            państwowych, sądów lub innych stosownych organów lub instytucji.
        </li>
    </ol>

    <h2>7. Wypowiedzenie umowy</h2>
    <ol>
        <li>
            Umowa łącząca Usługodawcę z Usługobiorcą zawarta jest na czas
            wykonania zlecenia. Żadna ze Stron nie ma prawa wypowiedzenia umowy,
            poza przypadkami wskazanymi przez bezwzględnie obowiązujące przepisy
            prawa.
        </li>
        <li>
            W razie płatności w częściach Usługodawca może wstrzymać się z dalszym
            wykonywaniem prac do czasu uiszczenia przez Usługubiorcę wymaganego
            wynagrodzenia. O wstrzymaniu prac z powyższej przyczyny Usługodawca ma
            obowiązek poinformować Usługobiorcę.
        </li>
    </ol>

    <h2>8. Tryb postępowania reklamacyjnego</h2>
    <ol>
        <li>
            Reklamacje dotyczące usług świadczonych przez Usługodawcę powinny być
            składane za pośrednictwem poczty elektronicznej na adres:
            eduvisor85@gmail.com. Zgłoszenie zastrzeżenia w postępowaniu
            reklamacyjnym powinno obejmować szczegółowe określenia na czym dane
            nieprawidłowości polegają oraz sprecyzowania, jakie rozwiązanie byłoby
            dla Usługobiorcy satysfakcjonujące.
        </li>
        <li>
            Rozpatrzenie reklamacji przez Usługodawcę następuje niezwłocznie, nie
            później niż w terminie 14 dni.
        </li>
        <li>
            Odpowiedź Usługodawcy w sprawie reklamacji jest wysyłana na adres
            e-mail Usługobiorcy podany w zgłoszeniu reklamacyjnym lub w inny
            podany przez Usługobiorcę sposób.
        </li>
    </ol>

    <h2>9. Postanowienia końcowe</h2>
    <ol>
        <li>
            Umowy zawierane za pośrednictwem Strony zawierane są zgodnie z prawem
            polskim.
        </li>
        <li>
            W przypadku niezgodności jakiejkolwiek części Regulaminu z
            obowiązującym prawem, w miejsce zakwestionowanego przepisu Regulaminu
            zastosowanie mają właściwe przepisy prawa polskiego.
        </li>
        <li>
            Usługobiorca nie może przenieść praw obowiązków lub wierzytelności
            wynikających z niniejszej umowy (Regulaminu) łączącej go z Usługodawcą
            na jakikolwiek podmiot trzeci – bez pisemnej zgody Usługodawcy.
        </li>
        <li>
            Integralną część niniejszego Regulaminu, wiążącą wszystkich
            Usługobiorców, stanowi Załącznik „Polityka Prywatności”.
        </li>
        <li>
            Wszelka komunikacja z administracją Serwisu powinna się odbywać za
            pośrednictwem poczty elektronicznej, przy użyciu adresu email
            eduvisor85@gmail.com.
        </li>
        <li>Regulamin wchodzi w życie z dniem 25.10.2018 r.</li>
    </ol>
</section>

<%- include('./partials/footer.ejs'); -%>